extends layout 

block content 
  div.post_container
    for post in posts 
      div.post_card
        div.title!= post.title
        div.date #{post.timestamp_formatted} 
        hr
        div.content!= post.text