@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&display=swap');


body {
  margin: 0px;
  background-color: #F4F4F9;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  background-color: antiquewhite;
  box-shadow: 5px 5px 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 18px;
  font-size: 24px;
}

nav ul li a {
  color: black;
  text-decoration: underline;

}

.greeting {
  color: #094074;
}

.header {
  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
  color: black;
}

.form_container {
  margin: 30px auto 30px;
  padding: 10px;
  width: 400px;
  min-height: 500px;
  box-shadow: 5px 5px 8px black;
  font-family: "Roboto Mono", monospace;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_container h1 {
  font-family: "Bebas Neue", sans-serif;
}

.form_main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.form_container button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
}

.form_container button:hover {
  background-color: #e7e7e7;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form_group input {
  width: 250px;
  height: 25px;
  border: none;
  border-bottom: 3px solid black;
}

.form_group input:focus {
  background-color: #e7e7e7;
  outline: none;
}